%section.flickr
  .container
    %h1.section-title 
      \-
      %i.icon-flickr
      \-
    %h2 Flickr for everything else.
    %h5 and these are some highlights
    #flickr.owl-carousel
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/5938394553/", :title => "The kind of rain that makes you smile by erin & camera, on Flickr"}
          %img{:alt => "The kind of rain that makes you smile", :height => "493", :src => "http://farm7.staticflickr.com/6126/5938394553_f91f2024af_o.jpg", :width => "740"}/
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/5938948774/", :title => "An unexpected summer shower. by erin & camera, on Flickr"}
          %img{:alt => "An unexpected summer shower.", :height => "493", :src => "http://farm7.staticflickr.com/6024/5938948774_de7b1e8f95_o.jpg", :width => "740"}/ 
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/8411945698/", :title => "Peru (3 of 54) by erin & camera, on Flickr"}
          %img{:alt => "Peru (3 of 54)", :height => "532", :src => "http://farm6.staticflickr.com/5344/8411945698_9ac29e652f_c.jpg", :width => "800"}/
      .flickr-item
        %a{:href => "http://www.flickr.com/photos/erin_can_spell/8410850197/", :title => "Burro by erin & camera, on Flickr"}
          %img{:alt => "Burro", :height => "532", :src => "http://farm6.staticflickr.com/5321/8410850197_4e709d1a0f_c.jpg", :width => "800"}/
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/6224864197/", :title => "Apple Picking (1 of 36).jpg by erin & camera, on Flickr"}
          %img{:alt => "Apple Picking (1 of 36).jpg", :height => "493", :src => "http://farm7.staticflickr.com/6174/6224864197_b7808484ba_o.jpg", :width => "740"}/
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/6224869011/", :title => "Apple Picking (16 of 36).jpg by erin & camera, on Flickr"}
          %img{:alt => "Apple Picking (16 of 36).jpg", :height => "493", :src => "http://farm7.staticflickr.com/6031/6224869011_bb0d789519_o.jpg", :width => "740"}/
      .flickr-item 
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/5625168703/", :title => "Intimate Session with Roses by erin & camera, on Flickr"}
          %img{:alt => "Intimate Session with Roses", :height => "667", :src => "http://farm6.staticflickr.com/5221/5625168703_cbbe2c1163_b.jpg", :width => "1000"}/
      .flickr-item
        %a{:target => "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/5625759222/", :title => "Intimate Session with Roses by erin & camera, on Flickr"}
          %img{:alt => "Intimate Session with Roses", :height => "427", :src => "http://farm6.staticflickr.com/5190/5625759222_de2543c2d5_z.jpg", :width => "640"}/
      .flickr-item-more
        %p more here ...
        %a{:target=> "_blank", :href => "http://www.flickr.com/photos/erin_can_spell/"} erin & camera on flickr