%footer
  %p.footer
    Crafted with 
    %a{:href => "http://http://haml.info/", :target => "_blank"} Haml
    ,
    %a{:href => "http://sass-lang.com/", :target => "_blank"} Sass
    ,
    %a{:href => "http://susy.oddbird.net/", :target => "_blank"} Susy
    , and
    %a{:href => "http://middlemanapp.com/", :target => "_blank"} Middleman
  %p &copy; #{copyright_years(2013)} Erin Lee

