%section.github
  .container
    %h1.section-title 
      \-
      %i.icon-github
      \-
    %h2 Github commits
    %h5 I have open source commitment issues.
    %div.github-item
      %p.github-commit
        TODO: this is where I use the github api to pull in my github commit stream
      
