%section.quotes
  .container
    %h2 Good things people have said about me:
    %ul.quote
      %li.quoted "you have a concept-driven, beautifully designed face"
      %a.author{:href => "http://grantdoeswork.com/", :target => "_blank"}< grant spanier
      