%section.twitter
  .container
    %h1.section-title 
      \-
      %i.icon-twitter
      \-
    %h2 Tweet! Tweet!
    %h5 The last tweet is the sweetest tweet
    %div.twitter-item
      %p.twitter-quote
        %blockquote.twitter-tweet
        %p>
          Ah! The video of my project with Seth Godin is up!
          %a{:href => "http://t.co/S2vTfZ6oXx"} http://t.co/S2vTfZ6oXx
        \— Erin (@erinandcode)
        %a{:href => "https://twitter.com/erinandcode/statuses/368532404022960128"} August 17, 2013

%script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}"